.item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10px;
}
.acoes-carrinho button {
    margin: 10px;
}
.btn-confirmar {
    background-color: #35c235;
    color:#ffffff
}
.btn-cancelar {
    background-color: #b61d1d;
    color:#ffffff;
}